{% extends 'main.html' %}
{% load static %}

{% block title %} Homepage {% endblock title %}


{% block content %}
<title>Place Autocomplete element</title>


    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="{% static 'Itinirary_scripts.js' %}"></script>
    <script src="{% static 'google_places.js' %}"></script>

    <!-- <script>
        var CurPosition;
        var CurPlace;
        var searchResultMarkers = [];
        var nearbyPlacesMarkers = [];

        let map;
        let autocomplete;
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');

        async function getItineraryID() {
            var url = "http://127.0.0.1:8000/itinerary/api/itinerary-list/";
        
            try {
                const resp = await fetch(url);
                const data = await resp.json();
                const itineraryID = data[0].id; // Assuming the ID is the first item in the response array
                return itineraryID;
            } catch (error) {
                console.error("Error:", error);
                throw error; // Rethrow the error to propagate it
            }
        }

        function initMap(){
           /*var input = document.getElementById('pac-input');
            var autocomplete = new google.maps.places.Autocomplete(input);
            map = new google.maps.Map(document.getElementById('map'),
            {
                center:{lat:23.346, lng: 113.684},
                zoom:8,
            });*/
            var input = document.getElementById('pac-input');
            var autocomplete = new google.maps.places.Autocomplete(input);
            currLoct = { lat: 23.23, lng: 113.13};
            map = new google.maps.Map(document.getElementById("map"), {
                center: currLoct,
                zoom: 15,
                mapId: "8d193001f940fde3",
            });


            const locationButton = document.getElementById('button');
            locationButton.textContent = 'Search for Nearby Activities';
            locationButton.classList.add('map-button');
            map.controls[google.maps.ControlPosition.TOP_CENTER].push(locationButton);

            const CL_Button = document.getElementById('CL_button');
            CL_Button.textContent = 'Search for Current Location';
            CL_Button.classList.add('CL_button');
            map.controls[google.maps.ControlPosition.TOP_CENTER].push(CL_Button);

            
            CL_Button.addEventListener('click',()=> {
                clearAllMarkers();
                if(navigator.geolocation){
                    navigator.geolocation.getCurrentPosition(
                        (CL_position) => {
                            const CL_pos = {
                                lat: CL_position.coords.latitude,
                                lng: CL_position.coords.longitude,
                            };
                            map.setCenter(CL_pos);
                            const geocoder = new google.maps.Geocoder();
                            geocoder.geocode({ location: CL_pos }, (results, status) =>{
                                if (status === google.maps.GeocoderStatus.OK) {
                                    if (results[0]) {
                                        // Get the first result which represents the closest address
                                        const place = results[0];

                                        // Extract relevant information from the result
                                        const formattedAddress = place.formatted_address;
                                        CurPlace = place;
                                        CurPosition = CL_pos;
                                        console.log('Formatted Address:', formattedAddress);
                                        console.log('CurPlace:', CurPlace);
                                        console.log('CurPosition', CurPosition);

                                        // Now you can use the formatted address as needed
                                        // For example, display it to the user
                                    } else {
                                        console.error('No results found');
                                    }
                                } else {
                                    console.error('Geocoder failed due to: ' + status);
                                }
                            });
                            var marker = new google.maps.Marker({
                                CL_position:CL_pos,
                                map:map,
                            });
                            CurPosition = CL_pos;
                            marker.setVisible(false);
                            marker.setPosition(CL_pos);
                            map.setZoom(17);
                            marker.setVisible(true);
                            //Push the marker into the array
                            searchResultMarkers.push(marker);
                        },
                        (error) => {
                // Handle error
                switch(error.code) {
                    case error.PERMISSION_DENIED:
                        console.error("User denied the request for Geolocation.");
                        break;
                    case error.POSITION_UNAVAILABLE:
                        console.error("Location information is unavailable.");
                        break;
                    case error.TIMEOUT:
                        console.error("The request to get user location timed out.");
                        break;
                    default:
                        console.error("An unknown error occurred.");
                        }
                    }
                );
                } else {
                    console.error("Geolocation is not supported by this browser.");
                }
            });
            
            autocomplete.addListener('place_changed',()=>{ 
                clearAllMarkers();
                const place = autocomplete.getPlace();
                const position = place.geometry.location;
                CurPlace= place;
                CurPosition = position;
                var marker = new google.maps.Marker({
                                position: position,
                                map:map,
                            });  
                marker.setVisible(false);
                if(!place.geometry || !place.geometry.location){
                    window.alert("No information found for ", + place.name + "." );
                } else {
                if(CurPlace.geometry.viewport){
                    map.fitBounds(place.geometry.viewport);
                } else {
                    map.setCenter(place);
                    map.setZoom(17);
                }
               
                }
                marker.setPosition(position);
                marker.setVisible(true);
                searchResultMarkers.push(marker);

            }); 

            locationButton.addEventListener('click',()=> {
                console.log('position:', CurPlace);
                service.nearbySearch(
                {location: CurPosition, radius: 500, type: ["store"] },
                (results, status, pagination) => {
                    //if (status !== "OK" || !results) return;
                    addPlaces(results, map,nearbyPlacesMarkers);
                    moreButton.disabled = !pagination || !pagination.hasNextPage;
                    if (pagination && pagination.hasNextPage) {
                        getNextPage = () => {
                        // Note: nextPage will call the same handler function as the initial call
                        pagination.nextPage();
                        };
                    }
                },
            );
            });
            const service = new google.maps.places.PlacesService(map);
            let getNextPage;
            const moreButton = document.getElementById("more");

            moreButton.onclick = function () {
                moreButton.disabled = true;
                if (getNextPage) {
                    getNextPage();
                }
            };

            // Perform a nearby search.
        
        }



        function addPlaces(places, map, markerArray) {

            clearMarkers(markerArray);

            const placesList = document.getElementById("places");
            placesList.innerHTML = '';

            if (places.length === 0) {
                noPlacesFound(map);
                } else {
                    placesList.innerHTML = ''
                    placesList.innerHTML +=
                    `<thead>
                        <tr>
                            <th>Activity</th>
                            <th>Link</th>
                            <th>Add?</th>

                        </tr>
                    </thead>

                    <tbody>`
                    var i=0;
                    for (const place of places) {
                        //console.log("PLACES BELOW")
                        //console.log(place)

                        if (place.geometry && place.geometry.location) {
                            const image = {
                                url: place.icon,
                                size: new google.maps.Size(71, 71),
                                origin: new google.maps.Point(0, 0),
                                anchor: new google.maps.Point(17, 34),
                                scaledSize: new google.maps.Size(25, 25),
                            };

                            const marker = new google.maps.Marker({
                                map,
                                icon: image,
                                title: place.name,
                                position: place.geometry.location,
                            });

                            markerArray.push(marker);
                            var item = 
                            `<tr>
                                <td>${place.name}</td>
                                <td></td>
                                <td>
                                    <button id="add_activity_${i}" class="btn btn-secondary"> Add </button>
                                </td>
                            </tr>
                            `
                            placesList.innerHTML += item
                            i++;
                            //console.log(i)
                            //const li = document.createElement("li");
                            //li.textContent = place.name;
                            //placesList.appendChild(li);
                            //li.addEventListener("click", () => {
                            //map.setCenter(place.geometry.location);
                            //});                        }
                        }
                    
                placesList.innerHTML += `</tbody>`
                }
            }

                j=0;
                for (const place of places) {
                    let add_act = "add_activity_"
                    let id = add_act.concat(j.toString())
                    console.log(id)
                    var createbtn = document.getElementById(id)
                    if (createbtn) {
                        createbtn.addEventListener('click', (function(){
                        //returZZZZZZn function(){
                        createItem(place)
                        })
                // }(places[i]))
                    )
                    }
                    j++;
                }
        
        }
        function createItem(place){
            (async () => {
                const i_id = await getItineraryID();
                var url = "http://127.0.0.1:8000/api/location-create/"

                fetch(url, {
                    method:'POST',
                    headers:{
                        'Content-type':'application/json',
                        'X-CSRFtoken': csrftoken
                    },
                    body:JSON.stringify({
                        'name': place.name,
                        "postal_code" : 12345,
                        'address': place.reference,
                        'itineraryID': parseInt(i_id),
                    })
                })

                })();
            
        }

        // function setMapOnAll(map) {
        //     for (let i = 0; i < markerArray.length; i++) {
        //             markers[i].setMap(map);
        // }
        //     markers=[];
        // }

        function clearMarkers(markerArray) {
        markerArray.forEach(marker => {
            marker.setMap(null);
        });
        markerArray.length = 0;
        }

    // Function to clear all markers
        function clearAllMarkers() {
        clearMarkers(nearbyPlacesMarkers);
        clearMarkers(searchResultMarkers);
        }

        function noPlacesFound(map){
            const placesList = document.getElementById("places");
            placesList.innerHTML = '';
        }

        window.initMap = initMap;

           

        // function initAutocomplete() {
        //     var input = document.getElementById('pac-input');
        //     var autocomplete = new google.maps.places.Autocomplete(input);
            
        // }


        function AutoComplete(map){
            autocomplete = new google.maps.places.Autocomplete(document.getElementById('pac-input'));
            autocomplete.bindTo('bounds',map);          
            }

        
    </script> -->

    
  </head>
  <body>
    
    <p id="search-text">Find your desired location:</p>

    <div id = 'search-input'>
        <!-- <input id='pac-input' type='text' placeholder='Enter a location'>
        <button id = 'button' type = 'button' class="btn btn-primary"> Search </button>
        <button id = 'CL_button' type = 'button' class="btn btn-primary"> GetCurrentPosition</button> -->
        <input id="pac-input" type="text" placeholder="Enter a location">
        <button id="button" type="button">Search</button>
        <button id="CL_button" type="button">Get Current Position</button>
    </div>

    <div id="map-container">
        <div id="map" style ="height:500px; width:100%;"></div>
    </div>
        <div id="container">
            <div id="sidebar">
                <h2 class="result-heading">Explore Nearby Activities  <button id="more" class="btn btn-secondary"><i class="fas fa-sync-alt"></i> Refresh </button></h2>
                <table id="places", class="table-style"></table>
                <!-- <button id="more" class="btn btn-secondary">Load more results</button> -->
                
            </div>
        </div>
        <script 
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDL77OS5N8c5X2khsmnCs-xvOk5z5Ig9oU&libraries=places&callback=initMap&libraries=places&v=weekly"
            defer >
        </script>
    </body>




<!-- <h1>retrieving data from database</h1>
<table>
    <thread>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>Postal Code</th>
            <th>Lat</th>
            <th>Lon</th>    
        </tr>
    </thread>

    {% for a in location %}
    <tr>
        <th>{{a.id}}</th>
        <th>{{a.name}}</th>
        <th>{{a.address}}</th>
        <th>{{a.postal_code}}</th>
    </tr>

    {% endfor %}
</table> -->
<!-- <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDL77OS5N8c5X2khsmnCs-xvOk5z5Ig9oU&callback=initMap"> </script> -->
{% endblock content %}
