{% extends 'main.html' %}

{% block title %} Homepage {% endblock title %}


{% block content %}


<h1>Geocoding</h1>

<table>
    <thread>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>Postal Code</th>
            <th>Link!</th>
        </tr>
    </thread>

    {% for a in location %}
    <tr>
        <th>{{a.id}}</th>
        <th>{{a.name}}</th>
        <th>{{a.address}}</th>
        <th>{{a.postal_code}}</th>
        <th><a href="{% url 'maps-locations' a.id %}">LINK LINK</a></th>
    </tr>

    
    {% endfor %}


</table>


{% endblock content %}