{% extends 'main.html' %}
{% load static %}

{% block title %} Homepage {% endblock title %}


{% block content %}
<title>Place Autocomplete element</title>


    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="{% static 'google_places.js' %}"></script>
  </head>
  <body>
    
    <p id="search-text">Find your desired location:</p>

    <div id = 'search-input'>
        <!-- <input id='pac-input' type='text' placeholder='Enter a location'>
        <button id = 'button' type = 'button' class="btn btn-primary"> Search </button>
        <button id = 'CL_button' type = 'button' class="btn btn-primary"> GetCurrentPosition</button> -->
        <input id="pac-input" type="text" placeholder="Enter a location">
        <button id="button" type="button">Search</button>
        <button id="CL_button" type="button">Get Current Position</button>
        
    </div>

    <div id="map-container">
        <div id="map" style ="height:500px; width:100%;"></div>
    </div>
        <div id="container">
            <div id="sidebar">
                <h2 class="result-heading">Explore Nearby Activities  <button id="more" class="btn btn-secondary"><i class="fas fa-sync-alt"></i> Refresh </button></h2>
                <ul id="places"></ul>
                <!-- <button id="more" class="btn btn-secondary">Load more results</button> -->
                
            </div>
        </div>
        <script 
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDL77OS5N8c5X2khsmnCs-xvOk5z5Ig9oU&libraries=places&callback=initMap&libraries=places&v=weekly"
            defer >
        </script>
    </body>




<!-- <h1>retrieving data from database</h1>
<table>
    <thread>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>Postal Code</th>
            <th>Lat</th>
            <th>Lon</th>    
        </tr>
    </thread>

    {% for a in location %}
    <tr>
        <th>{{a.id}}</th>
        <th>{{a.name}}</th>
        <th>{{a.address}}</th>
        <th>{{a.postal_code}}</th>
    </tr>

    {% endfor %}
</table> -->
<!-- <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDL77OS5N8c5X2khsmnCs-xvOk5z5Ig9oU&callback=initMap"> </script> -->
{% endblock content %}
