{% extends 'main.html' %}

{% block title %} Geocoding Values for {{location.name}}  {% endblock title %}


{% block content %}

<table>
    <thread>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>Postal Code</th>
            <th>Lat</th>
        </tr>
    </thread>

    <tr>
        <th>{{location.id}}</th>
        <th>{{location.name}}</th>
        <th>{{location.address}}</th>
        <th>{{location.postal_code}}</th>
        <th></th>
    </tr>

    <div>
        {{result}}
    </div>
    

</table>

{% endblock content %}