{% extends 'main.html' %}
{% load static %}

{% block title %} ItineraryPage {% endblock title %}

{% block content %}

<div class="row">
    <div class="col-md-6">
        <h1>Itinerary for {{user}}</h1>
        <table id="restaurant-table", class="table-style">
            
        </table>
        

        </table>

        <table id="itinerary-table", class="table-style">

        </table>

    </div>
    <div class="col-md-6">
        <div id="map-container">
            <div id="map" style ="height:500px; width:100%;"></div>
        </div>

    </div>
</div>



        <!-- and so on... -->

<script type="text/javascript">
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');

    function buildList() {
        var wrapper = document.getElementById("itinerary-table")
        wrapper.innerHTML = ''
        var url = "http://127.0.0.1:8000/itinerary/api/itinerary-list/"
        wrapper.innerHTML +=
        `
            <thead>
                <tr>
                    <th>Activity</th>
                    <th>Link</th>
                </tr>
            </thead>

            <tbody>`

        fetch(url)
        .then((resp) => resp.json())
        .then(function(data){
            var itinerary = data

                if (itinerary[0].activities){
                    for (var i in itinerary[0].activities) {
                        console.log(i)
                        var item = `
                            <tr>
                                <td>${itinerary[0].activities[i].name}</td>
                                <td>
                                    <button id="delete_activity_${i}" class="btn btn-secondary"> Delete </button>
                                </td>
                            </tr>
                            `
                    wrapper.innerHTML += item
                    }

                    setTimeout(function() {
                        for (var j in itinerary[0].activities) {
                            console.log('findelete?"')
                            let del_act = "delete_activity_"
                            let id = del_act.concat(j.toString())
                            var deletebtn = document.getElementById(id)
                            var item = itinerary[0].activities[j]
                            if (deletebtn) {
                                deletebtn.addEventListener('click', (function(item){
                                    return function() {
                                        console.log("clicked")
                                        deleteItem(item.id)
                                    }
                                    
                                })(item)) // Immediately invoke function to preserve current item
                            }
                        }
                    }, 0);
                }
                wrapper.innerHTML += `</tbody>`
            })
        }

            function deleteItem(id) {
                console.log("clicked")
                var url = `http://127.0.0.1:8000/api/location-delete/${id}`
                fetch(url,{
                    method:'DELETE',
                    headers:{
                        'Content-type':'application/json',
                        'X-CSRFtoken': csrftoken
                    },
                }).then((respone) => {
                    buildList()
                })

            }
    //var add = document.getElementById("delete_activity")
    //add.addEventListener('Add', function(e){
    //    e.preventDefault()
    //    console.log('deleted')

    //    var url = ""
    //})
    buildList()

</script>
<script src="{% static 'google_places.js' %}"></script>
<script src="{% static 'Itinirary_scripts.js' %}"></script>
<script 
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDL77OS5N8c5X2khsmnCs-xvOk5z5Ig9oU&libraries=places&callback=initMap&libraries=places&v=weekly"
defer >
</script>   


{% endblock content %}
