{% extends 'main.html' %}
{% load static %}

{% block title %} ItineraryPage {% endblock title %}

{% block content %}

<h1>Itinerary for {{user}}</h1>




<table id="itinerary-table", class="table-style">


</table>

        <!-- and so on... -->

<script type="text/javascript">

    function buildList() {
        var wrapper = document.getElementById("itinerary-table")
        wrapper.innerHTML = ''
        var url = "http://127.0.0.1:8000/itinerary/api/itinerary-list/"
        wrapper.innerHTML +=
        `
            <thead>
                <tr>
                    <th>Activity</th>
                    <th>Link</th>
                </tr>
            </thead>

            <tbody>`

        fetch(url)
        .then((resp) => resp.json())
        .then(function(data){
            // console.log('Data:', data)
            var itinerary = data

            if (itinerary[0].activities){
                for (var i in itinerary[0].activities) {
                    console.log(i)
                    var item = `
                        <tr>
                            <td>${itinerary[0].activities[0].name}</td>
                            <td>
                                <button id="delete_activity" class="btn btn-secondary delete"> Delete </button>
                            </td>
                        </tr>
                        `
                wrapper.innerHTML += item
                }
            }
            wrapper.innerHTML += `</tbody>`
        })
    }

    //var add = document.getElementById("delete_activity")
    //add.addEventListener('Add', function(e){
    //    e.preventDefault()
    //    console.log('deleted')

    //    var url = ""
    //})

    buildList()



</script>


<table>
    <thread>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>Postal Code</th>
            <th>Lat</th>
            <th>Lon</th>    
        </tr>
    </thread>

    {% for a in location %}
    <tr>
        <th>{{a.id}}</th>
        <th>{{a.name}}</th>
        <th>{{a.address}}</th>
        <th>{{a.postal_code}}</th>
    </tr>

    
    {% endfor %}


</table>
{% endblock content %}
