/* -- BODY -- */

body {
    margin: 0;
    background: #FAFAFAFA;
    color: #9DFFD0;
}

/* --------- */

/* -- HEADER -- */
 
header {
    margin: 3;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #123;
    color: white;
    min-height:0px;
    padding: 0px;
    position:static;
  }

.main-header {
    overflow: hidden;
    background-color:#123;
    padding: 10px 40px;

}

.main-header a {
    float: left;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    line-height: 0px;
    border-radius: 0px;

}

.main-header h1 {
    font-weight: bold;
    padding: 0px 50px;
}

.header-left{
    float: left;
    display: flex;
    align-items: center;
}

.header-right{
    float: right;
    display: flex;
    align-items: center;
}

.login-button{
    padding: 10px 30px;
    border-radius: 50px;
}

@media screen and (max-width: 500px) {
.header a {
    float: none;
    display: block;
    text-align: left;
}


.header-right {
    float: none;
}

}
  /* .main-header{
    max-width: 800px;
    text-align: center;
    margin: auto;
  }
  
  
  .main-header h1{
    font-size: 50px;
  } */
   



/* ----------- */
