{% extends 'base.html' %}

{% block content %}
<br/>

<div class="d-flex align-items-center">
    <a href="{% url 'members:login' %}" class="btn btn-outline-secondary mr-3">&lt; Back</a>
    <h2>Forgot Password</h2>
</div>
<p>Please enter your email address below to receive a password reset link.</p>

<form action="{% url 'members:forgetpass' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" class="form-control" name="email" required id="email" aria-describedby="emailHelp">
    </div>
    
    <button type="submit" class="btn btn-primary">Retrieve Password</button>
</form>

<br/><br/>
{% endblock %}
