{% extends 'base.html' %}

{% block content %}
<br/>

<h1>Welcome Back</h1>

	<form action ="" method="POST">
		{% csrf_token %}

		<form>
			<div class="mb-3">
			  <label for="username" class="form-label">Username</label>
			  <input type="text" class="form-control" name ="username" aria-describedby="emailHelp">
			  
			<div class="mb-3">
			  <label for="password" class="form-label">Password</label>
			  <input type="password" class="form-control" name="password">
			</div>
			
			<button type="submit" class="btn btn-primary btn-block mb-4">Sign In</button>
		  </form>
		  <div class="text-center">
			<p>Not a member? <a href="{% url 'members:register' %}">Register</a></p>
		  </div>
		  <div class="text-center">
			<p>Forgot Password? <a href="{% url 'members:forgetpass' %}">Reset</a></p>
		  </div>
		  
		
	</form>

<br/><br/>
{% endblock %}