{% extends 'base.html' %}

{% block content %}

{% if form.non_field_errors %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {% for error in form.non_field_errors %}
            {{ error }}
        {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}

{% if form.errors %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {% for field in form %}
            {% for error in field.errors %}
                {{ error }}
            {% endfor %}
        {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}

<br/>
    <div class="shadow p-4 mb-5 bg-body rounded">
        <a href="{% url 'members:login' %}" class="btn btn-link text-dark">
            <i class="fas fa-arrow-left"></i> Back to Login
        </a>
        <h1>Register</h1>
<br/>

            <form action="{% url 'members:register' %}" method=POST>
                {% csrf_token %}
                <!-- {{ form }} -->
                {{ form.as_p }}

            
<br/><br/>
                <input type="submit" value="Submit" class="btn btn-secondary">

            </form>
		
    </div>
<br/><br/>	
{% endblock %}